@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 20px;
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'PT Sans', sans-serif;
    color: var(--font_color);
    transition: 0.5s;
}

body {
    height: 100vh;
    background-color: var(--body_color);
}

main {
    height: 90%;
    display: flex;
}

/* #########
   ScrollBar
######### */
        
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    display: none;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}


/* ##########################
        Alert Box
########################## */

#alertContainer .alert {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 9999; /* Ensures the alerts are on top */
}

#alertContainer .alert.success {
    background-color: var(--green);
    border-color: var(--green);
}

#alertContainer .alert.info {
    background-color: var(--light-blue);
    border-color: var(--light-blue);
}

#alertContainer .alert.warning {
    background-color: var(--orange);
    border-color: var(--orange);
}

#alertContainer .alert.error {
    background-color: var(--red);
    border-color: var(--red);
}

#alertContainer .alert .btn_text {
    width: auto;
    color: var(--font_color);
}


/* #########
   Dodatkowe
######### */

.hidden {
    display: none;
}

.logo img {
    max-width: 10em;
    width: auto;
}

.black-bg {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 0.5em;

    box-shadow: 0px 0px 4px black;
}

.center-text {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-right {
    display: flex;
    justify-content: right;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.marg-top-1em {
    margin-top: 1em;
}

.marg-left-1em {
    margin-left: 1em;
}

.marg-right-1em {
    margin-right: 1em;
}

.marg-bottom-1em {
    margin-bottom: 1em;
}

.padding-1em {
    padding: 1em;
}

.trans-text {
    color: rgba(255, 255, 255, 0.1);
}

span#data {
    color: rgba(255, 255, 255, 0.7);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar:hover,
.avatar:focus {
    border-radius: 5px;
}

/* ##########################
        Main Container
########################## */

.mainContainer {
    height: 100%;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    padding: 1em;
}

/* ##########################
            Posts
########################## */

.posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.postFilters {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(100, 100, 100, 0.5);
    padding-bottom: 0.25em;
}

.postFilters > * {
    margin: 0 15px;
    font-size: 0.8rem;
}

/* Sort */
.postFilters #postSort {
    display: flex;

}

.postFilters #postSort span {
    display: flex;
    cursor: pointer;
    margin: 0 5px;
    font-size: 0.8rem;
}

.postFilters #postSort span[data-active="yes"] {
    color: var(--link_active_color);
}

.postList {
    text-align: -webkit-center;
}

.postList .post:first-child {
    margin-top: 1em;
}

/* Style for post container */
.postList .post {
    border: 1px solid var(--sidebar_color);
    margin-bottom: 20px;
    padding: 15px;
    background-color: var(--sidebar_color);
	width: 95%;
    min-width: 600px;
}

.postList .post.unpublished {
    box-shadow: 0px 0px 4px var(--red);
}

/* Style for post header */
.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.postHeaderLeft {
    display: flex;
    align-items: center;
}

.postHeaderTitle > * > a:hover,
.postHeaderTitle > * > a:focus {
    color: var(--link_active_color);
}

.post .avatar {
    width: 40px;
    height: 40px;
}

.post .avatar:hover,
.post .avatar:focus {
    border-radius: 2px;
}

.postHeaderLeftText {
    font-weight: bold;
}

.postHeaderLeftTextDate {
    font-size: 0.6rem;
    color: rgba(var(--font_color_rgb), 0.7);
}

.postHeaderRight {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.postHeaderRight > i {
    margin-right: 5px;
}

.postHeaderRight:hover > i,
.postHeaderRight:focus > i {
    color: var(--link_active_color);
    transform: scale(1.5);
}

/* Style for post content */
.postContent {
    margin-bottom: 10px;
}

.postContentText {
    white-space-collapse: break-spaces;
    text-align: justify;
}

.postContentImage img {
    width: 20em;
}

/* Style for post footer */
.postFooter {
    display: flex;
    justify-content: space-between;
}

.postFooterLeft,
.postFooterRight {
    display: flex;
    align-items: center;
}

.fa-heart,
.fa-comment {
    margin-right: 5px;
    color: var(--link_color); /* Adjust the color as needed */
}

.postFooter > * {
    cursor: pointer;
}

.postFooter > * > i {
    margin-right: 5px;
}

.postFooter > *.active > i {
    color: var(--link_active_color);
} 

.postFooter > *:hover > i,
.postFooter > *:focus > i {
    color: var(--link_active_color);
    transform: scale(1.5) rotate(-10deg);
}

/* ##########################
        Contact Form
########################## */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.droptown-toggle {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--body_color);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 5%);
}

.dropdown-content.show {
    display: block;
}

.dropdown-item {
    padding: 0.5em 0;
    display: block;
    font-size: 0.8em;
}

.dropdown-item:hover {
    color: var(--link_active_color);
}
  

/* ##########################
        Contact Form
########################## */

.contactForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm > * {
    width: 100%;
    margin-bottom: 10px;
}

.contactForm > *:last-child {
    margin-bottom: 0;
}

.contactForm form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactForm form .input-container {
    width: 70%;
}

.contactForm form .input-container i {
    margin-left: 1em;
}


